@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: Manrope, sans-serif;
  line-height: 20px;
  font-weight: 500;

  --Main: #262626;
  --Yellow: #F6B83D;
  --Light-yellow: #FFF4DF;
}

body {
  background-color: #f9f9f9;
}

@layer utilities {
  .adaptive-container {
    margin: 0 auto;
    max-width: 375px;
    width: 100%;
    padding: 0 20px;
  }

  .home-container {
    margin: 0 auto;
    max-width: 335px;
    padding-top: 10px;
    width: 100%;
  }

  .home-header {
    padding: 18px 20px 28px 20px;
    max-width: 335px;
    width: 100%;
    margin: 0 auto;
  }

  .loading-image {
    background-image: url('/images/loading-screen/mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    max-height: 176px;
    width: 8px;
    border-radius: 13px;
    background-color: #26262614;
  }

  @media (min-resolution: 192dpi) {
    .loading-image {
      background-image: url('/images/loading-screen/mobile@2x.jpg');
    }
  }

  @media screen and (min-width:768px) and (min-resolution: 192dpi) {
    .loading-image {
      background-image: url('/images/loading-screen/tablet@2x.jpg');
    }
  }

  @media screen and (min-width:1280px) and (min-resolution: 192dpi) {
    .loading-image {
      background-image: url('/images/loading-screen/desk@2x.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    .adaptive-container {
      max-width: 768px;
      padding: 0 32px;
    }

    .home-container {
      max-width: 704px;
      padding-top: 16px;
    }

    .home-header {
      max-width: 704px;
      padding: 16px 32px 32px 32px;
    }

    .loading-image {
      background-image: url('/images/loading-screen/tablet.jpg');
    }

  }

  @media screen and (min-width: 1280px) {
    .adaptive-container {
      max-width: 1280px;
      padding: 0 64px;
    }

    .home-header {
      max-width: 1216px;
      padding: 16px 64px 32px 64px;
    }

    .home-container {
      max-width: 1216px;
    }

    .loading-image {
      background-image: url('/images/loading-screen/desk.jpg');
    }

  }

  .transitionFunction {
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }


}